# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/
dist/
.venv/
venv/

# Env
.env

# Data
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Poetry
poetry.lock
